
/******* home  ******/
.brand
  z-index: 100
  height: 400px
  position: relative
  padding: 30px 30px
  border-radius: 6px
  background-image: image-url("grain_brand.png")
  box-shadow: 1px 2px 0 #d9d9d9

.brand,.foot-nav
  color: #5a8221

.brand-img
  margin-top: 0



.brand-title
  float: left



.brand-message
  line-height: 25px
  margin-bottom: 35px


/******* feature and detail unit  ******/
.feature
  position: relative



.feature-unit, .detail-img
  border-radius: 9px
  border: 1px solid #e3e3e3
  background-color: #f9f9f9
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.3)
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.3)
  box-shadow:         0px 0px 8px rgba(0,0,0,0.3)

.header, .feature-img
  margin-bottom: 20px

.section
  color: #555

.section-wh
  color: white

.feature, .detail
  margin: 20px 50px

.feature-unit
  position: relative
  float: left
  padding: 15px 15px

.feature-title .header
  color: white


.feature-img img
  width: 110px
  margin-left: 27.5%

.feature-content
  width: 100%
  .header
    color: #5a8221
  .section
    margin-left: 15px


.detail-title
  padding-left: 383px
  margin: 27px 55px

.detail-unit
  margin: 27px 55px
  width: 100%
  float: left
  position: relative

.detail-content
  width: 550px
  float: left
  margin-top: 64px

.detail-img
  float: left
  width: 220px
  height: 220px
  border-radius: 50%

// .profile img
//   background: image-url("shay.jpg")
//   border-radius: 50%
//   width: 30px
//   -moz-box-shadow: inset 0 0 10px #633B0C
//   -webkit-box-shadow: inset 0 0 10px #633B0C
//   box-shadow: inset 0 0 10px #633B0C


/******* dashboard  ******/

.dashboard
  // width: 100%
  // width: 960px
  // height: 250px
  // background-color: #333
  // padding: 15px 15px
  margin-left: 20px

// .category
//   background-color: #d5d5d5
//   -moz-box-shadow: inset 0 0 10px #999
//   -webkit-box-shadow: inset 0 0 10px #999
//   box-shadow: inset 0 0 10px #999

#holder
  // height: 480px
  /*left: 50%*/
  /*margin: 100px 0 0 100px*/
  // position: relative
  /*top: 50%*/
  //width: 600px


#copy
  bottom: 0
  font: 300 .7em "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif
  position: absolute
  right: 1em
  text-align: right
  color: #000

.category
  margin: 0 5px
  // width: 634px

.group-header
  margin: 27px 0 6px 0

.purchase, .month
  color: white

.purchase
  margin: 28px 0 62px 7px

.month
  margin: 15px 400px 0 9px

.month-title
  float: left


.main, .category
  border: 1px solid #6b6456
  color: white

.main
  background-color: #766e5f
  margin-top: 33px
  min-height: 850px

.category
  background-color: #877e6d
  height: 500px
  overflow: auto


.profile
  color: #ededed
  float: none
  margin: 20px 0


.goal
  margin-bottom: 15px

.goal-btn
  width: 30px
#arc
  margin-bottom: 40px

.share
  margin-left: 30px

#pop
  top: -20px
  left: 160px
  position: relative

.accordion
  color: white
  font-size: 14px

.account
  font-size: 16px

.edit img
  top: -6px
  left: 31px
  position: relative


.modal-small 
  position: fixed
  top: 10%
  left: 50%
  z-index: 1050
  width: 350px
  margin-left: -280px
  background-color: #ffffff
  border: 1px solid #999
  border: 1px solid rgba(0, 0, 0, 0.3)
  *border: 1px solid #999
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  outline: none
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3)
  -webkit-background-clip: padding-box
  -moz-background-clip: padding-box
  background-clip: padding-box

.account img
  margin-left: 114px
  top: -6px
  position: relative


