.navbar
  width: auto
  // color: #099921
  color: white
  position: relative
  // background-image: -moz-linear-gradient(top, #BFDC7A, #8EBF45)
  // background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#BFDC7A), to(#8EBF45))
  // background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45)
  // background-image: -o-linear-gradient(top, #BFDC7A, #8EBF45)
  // background-image: linear-gradient(to bottom, #BFDC7A, #8EBF45)
  display: block
  box-shadow: 1px 1px 5px #bebebe



nav li
  float: left
  margin: 7px 15px

.nav-inner
  // font-family: 'Cabin Sketch' sans-serif
  font-size: 20px
  padding: 10px 10px
  text-decoration: none