<% @user.get_transactions %>

  <div class="container">
   <div class="dashboard box-offset">
    <table id="data" style="position: absolute; left: -9999em; top: -9999em;">

      <tfoot>
        <tr>
        <% @user.intervals.each do |i| %>
          <th><%= i.start_range %></th>
        <% end %>
        </tr>
      </tfoot>
      <tbody>
        <tr>
        <% @user.intervals.each do |i| %>
          <td><%= i.total_emission %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
    <div id="holder"></div>
  </div>
</div>
