  <!--feature begin-->
  <div class="feature group">
    <div class="feature-title">
      <div class="header">How it works</div>
    </div>
    <div class="feature-unit">
      <div class="feature-img"></div>
      <div class="feature-content">
        <div class="header">Connect</div>
        <div class="section">We are highly concerned about the security of your financial data. <!-- We only access this data to calculate and visualize your carbon footprint. --> In order to do this, we utilize the services of Intuit, which provides financial data to hundreds of companies including Mint.com and Quickbooks.</div>
      </div>
    </div>

    <div class="feature-unit">
      <div class="feature-img"></div>
      <div class="feature-content">
        <div class="header">Calculate</div>
        <div class="section">We automatically calculate your carbon footprint based on your spending information. We further break down this information by category to show you how different types of consumption contribute to your carbon footprint.</div>
      </div>
    </div>

    <div class="feature-unit">
      <div class="feature-img"></div>
      <div class="feature-content">
        <div class="header">Take Action</div>
        <div class="section">Once you have this information, CarbonGroove then suggests ways for you to take action to cut down on your carbon footprint.</div>
      </div>
    </div>
  </div>
