
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700)
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700)
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700)
@import url(http://fonts.googleapis.com/css?family=Dosis:300,400,600)


a
  color: #555

a:hover
  color: #099921
  text-decoration: none

.brand-title,.header,.feature-img, .logo
  font-family: 'Cabin Sketch' sans-serif

.brand-message, .btn, .login, .main
  font-family: 'Droid Sans' sans-serif

.brand-title
  font-size: 40px

.brand-message
  font-size: 15px

.section
  font-size: 15px
  line-height: 22px

.name 
  font-family: 'Dosis', sans-serif
  font-weight: 600
  font-size: 20px

.content-text
  font-size: 13px
  line-height: 22px

.weight-600
  font-weight: 600

.weight-700
  font-weight: 700

.weight-400
  font-weight: 400

.feature-content
  .header
    font-size: 18px

.detail-unit .header
  font-size: 18px

.detail-title
  font-size: 25px

.nav-inner
  font-size: 30px

.logo
  font-size: 30px
.login
  font-size: 18px


.main
  font-size: 16px
footer
  font-size: 13px

.group-header
  font-size: 20px

.group-sub
  font-size: 16px


