/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



body {
  font-family: sans-serif;
/*  background-image: url('/green_dust_scratch.png');*/
  margin-left: 50px;
  position: relative;
  background-image: url('http://3.bp.blogspot.com/_OX_7WlzgcLI/TU7KjI7642I/AAAAAAAABe0/1JUpFTIYF4U/s400/greencat.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}
h1, h2, h3, p, a, li {
  color: white;
  display: block;
}
h1 {
  margin: 50px 0;
}
h3 {
  margin: 10px;
}
#receipt_kind {
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 2px solid black;
   border-radius: 0;
   -webkit-appearance: none;
   }
#receipt_cost {
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 2px solid black;
   border-radius: 0;  
}
#submit {
  padding: 5px;
  border: 2px solid black;
  font-size: 16px;
}
#purchases a {
  font-weight: bold;
}
#new_purchase {
  margin-top: 50px;
}
ul  {
  list-style: none;
}
li {
  padding: 5px;
}
div {
  display: block;
}
#user_nav {
  margin: 50px 0;
  display: block;
  font-weight: bold;
}

