<h1>Carbon Emission:</h1>

<h2 class="emission"><%= @receipt.emission %> kilograms of Carbon Dioxide</h2>

<p class="list_link">See 
<%= link_to "Purchase List", @receipt.user %> or 
<%= link_to "Enter New Purchase", new_receipt_path %>
</p>